*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #c5c5c5d3;
    min-height: 50vh;
 
} 


.andromeda{
    display: flex;
    justify-content: center;
    height: 40px;
    mix-blend-mode: color-burn;
    padding: 20px;
}    



/* .signUpForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 600px;
} */



.container{
    display: flex;
    justify-content: center;
    background-color: #ffffffc4;
    align-items: center;
    margin-left: 550px;
    width: 340px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* margin-top: 50px; */
    margin-bottom: 50px;
    
}

.logo{
    display: flex;
    justify-content: center;
    height: 45px;
    mix-blend-mode: color-burn;

}

.signUpForm {
    max-width: 300px;
    margin: 0 auto;
}

h2 {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

label {
    display: block;
    margin-top: 8px;
    color: #555;
   
}
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e8e2e2;
}

h2, #register {
    display: inline; 
    margin: 0;  
}
#register{
    margin-top: 10px;
    margin-left: 150px;
    color: #2C9DE8;
    text-align: right;
    cursor: pointer;
}
#register:hover{
    text-decoration: underline;
}

#forgotpassword, #signup {
    display: inline; 
    margin-top: 50px;
    cursor:pointer;
    
}

#email, #password{
    /* font-weight: bold; */
}
::placeholder{
    color: #333;
}


#signup {
    background-color: #5facd2;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 50px;
    cursor:pointer;
    width: 30%;
    font-size: 16px;
    position: relative;
    left: 110px;
}
#signup:hover{
    background-color: #2C9DE8;
}

.hr-container{
display: flex;
align-items: center;
}
.hr-container hr {
    flex: 1;
    margin: 20px 10px; 
  
  }

#forgotpassword ,span{
    color: #b5aeae;
    font-size: 13px;
}
#forgotpassword:hover{
    text-decoration: underline;
}

#google{
    width: 18px;
    padding-top: 1px;
}
#text-google{
    text-align: center;
padding-top:3px;
font-size: 13px;
}
#okta{
    width: 18px;
    padding-top:1px;
    
}
#text-okta{
    text-align: center;
    padding-top:3px;
    font-size: 13px;
}

/* #googlebutton{
    text-align: center;
    border-radius: 50px;
    margin-top: 40px;
} */

#google, #text-google {
    display: inline; 
    margin:0px;
    
}
#okta,#text-okta{
    display: inline; 
    margin:0px;
}

.google-box{
    width: 200px;
    height:30px;
    background-color: #fff; /* Background color */
    border: 2px solid #ccc; /* Border color */
    border-radius: 50px; /* Border radius for rounded corners */
    padding: 5px; /* Padding inside the box */
    color: #b5aeae; /* Text color */
    align-items: center;
    text-align: center;
    margin: 10px;
}
.google-box:hover{
   background-color: #2C9DE8 ;
   cursor: pointer;
}

.okta-box{
    width: 200px;
    height:30px;
    background-color: #fff; /* Background color */
    border: 2px solid #ccc; /* Border color */
    border-radius: 50px; /* Border radius for rounded corners */
    padding: 5px; /* Padding inside the box */
    color: #b5aeae; /* Text color */
    align-items: center;
    text-align: center;
    margin: 10px;
}

.okta-box:hover{
    background-color: #2C9DE8;
    cursor: pointer;
}